
body {
    margin: 0px; 
    background-color: rgb(250, 250, 250); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px; 
}

.center {
    display: flex; 
    justify-content: center;
    align-items: center;
}

$main-color: rgb(144, 19, 247); 
$secondary-color: rgb(5, 255, 255); 
$text-color: rgb(35, 35, 35); 


.lan-page-container {
    width: 100%; 
    height: auto; 
    @extend .center; 
    flex-direction: column; 

    .right-side-container {
        width: 80%; 
        height: auto; 
        background-color: rgb(250, 250, 250); 
        display: flex; 
        flex-direction: column;
        margin-bottom: 50px; 
        @extend .center; 
        flex-direction: column; 
        margin-top: 50px; 

        h1 {
            width: 90%; 
            margin: 15px 0px; 
            text-align: left;
            font-size: 3em; 
            color: $text-color; 
        }

        .top-p-thing {
            width: 80%; 
            margin: 25px 0px; 
            font-size: 1.25em; 
            font-weight: 600; 
            color: $text-color; 
        }

        .graph-div {
            width: 90%; 
            @extend .center; 
            justify-content: space-between;
            flex-direction: column; 

            p {
                width: 80%; 
                font-size: 1.25em; 
                font-weight: 600; 
                color: $text-color; 
            }

            .line-stuff {
                width: 80%; 
                height: auto; 
                padding: 15px; 
                background-color: white; 
                border-radius: 30px; 
                margin: 30px 0px; 
            }
        }
    }
} 

@media only screen and (min-width: 250px) and (max-width: 1024px) { 
    .lan-page-container .right-side-container h1 {
        margin: 35px 0px; 
    } 

    .lan-page-container .right-side-container .top-p-thing {
        width: 90%; 
    } 

    .lan-page-container .right-side-container .graph-div .line-stuff {
        width: 100%; 
        padding: 10px; 
    } 

    .lan-page-container .right-side-container .graph-div p {
        width: 90%; 
    }
}